@font-face {
  font-family: "Oswald Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Oswald_reg_med.woff2") format("woff2"),
    url("../fonts/Oswald_reg_med.woff") format("woff");
}

@font-face {
  font-family: "Oswald Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Oswald_reg_med.woff2") format("woff2"),
    url("../fonts/Oswald_reg_med.woff") format("woff");
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  background-color: $bg-primary;

  color: $font;
  font-family: $font-family-common;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
}


img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-dark;
  font-family: $font-family;
  font-weight: normal;
  font-style: normal;
}

// no tap highlight in Safari
a, label, button {
	-webkit-tap-highlight-color: transparent;
}

//  (use carefully)
input, textarea {
	-webkit-tap-highlight-color: transparent;
}

// safari input baseline
input {
  line-height: normal;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.divider {
  background-color: #444444;
  margin: 0 auto;
  width: 100%;

  height: 1px;
  border: none;
  opacity: 0.1;

  &--tablet-only {
    display: none;
    margin: 0;
  }

  &--mobile-only {
    display: none;
  }

  &--footer {}
}

@media screen and (max-width: $tablet-width - 1px) {

  .divider {
    &--mobile-only {
      display: block;
      width: calc(100% - 40px);
    }
  }

}

@media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {

  .divider {
    &--tablet-only {
      display: block;
      width: 100%;
    }
  }

}