.advantages {
  margin: 0 20px;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;

  max-width: 385px;
  margin: 0 auto;
}

.advantages__headline {
  color: $font-dark;
  font-family: $font-family;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  font-style: normal;

  margin-top: 19px;
  margin-bottom: 10px;
}

.advantages-list {
  margin: 0;
  margin-bottom: 25px;
}

.advantages-list__item {
  list-style: none;

  position: relative;
  margin-top: 20px;
  min-height: 60px;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;

    position: absolute;
    top: -2px;
    left: -40px;

    background-position: 50% 50%;
    background-color: $bg-others;
    background-repeat: no-repeat;
  }

  &--first::before {
    background-image: url(../img/advantage-1.png);
  }

  &--second::before {
    background-image: url(../img/advantage-2.png);
  }

  &--third::before {
    background-image: url(../img/advantage-3.png);
  }

  &--fourth::before {
    background-image: url(../img/advantage-4.png);
  }
}

.advantages-list__item-text {
  margin-left: 40px;
}




//      tablets
@media screen and (min-width: $tablet-width) {

  .advantages {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .advantages__wrapper {
    max-width: 708px;
    margin: 0 auto;
  }

  .advantages__headline {
    font-size: 60px;

    margin-top: 25px;
  }

  .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;

    padding: 0;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .advantages-list__item {
    margin-top: 34px;
    margin-right: 80px;
    margin-bottom: 48px;

    &::before {
      width: 80px;
      height: 80px;

      left: 0;
    }

    &::after {
      content: "";
      display: block;

      color: $bg-secondary;
      font-family: $font-family;
      font-weight: normal;
      font-style: normal;
      font-size: 281px;

      position: absolute;
      top: 90px;
      left: 115px;
      z-index: -1;
    }

    &--first::after {
      content: "1";
    }

    &--second::after {
      content: "2";
    }

    &--third::after {
      content: "3";
    }

    &--fourth::after {
      content: "4";
    }



  }

  .advantages-list__item-text {
    font-size: 16px;
    line-height: 24px;

    max-width: 245px;
    min-height: 125px;

    margin: 0;
    margin-top: 110px;
  }

}



//      desktop
@media screen and (min-width: $desktop-width) {

  .advantages {
    margin: 0;
    margin-top: 48px;
    margin-bottom: 20px;
  }

  .advantages__wrapper {
    max-width: 1220px;
    margin: 0 auto;
  }

  .advantages-list__item {
    margin-top: 34px;
    margin-right: 0px;
    margin-bottom: 0px;

    &::before {
      width: 80px;
      height: 80px;

      left: 0;
    }
  }

}