.button {
  font-family: $font-family;
  font-size: 16px;
  line-height: 20px;

  color: $button-text;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;

  height: 40px;

  text-transform: uppercase;

  cursor: pointer;

  border: none;
  background-color: $button-bg;

  transition: all 0.3s;

  &:hover {
    background-color: $button-bg-hover;
  }

  &:focus {
    outline: none;

    background-color: $button-bg-focus;
    color: $button-text-focus;
  }

  &--more {
    background-color: $button-more-bg;
    color: $button-more-text;

    &:hover {
      background-color: $button-more-bg-hover;
    }

    &:focus {
      background-color: $button-more-bg-focus;
      color: $button-more-text-focus;
    }
  }

  &--goods {
    margin: 0;
  }

  &--feedback {
    margin-bottom: 20px;
    width: 280px;
    border-radius: 0; // iOS
  }
}







//      tablets
@media screen and (min-width: $tablet-width) {

  .button {
    margin: 0;
    margin-left: 38px; // pp
    margin-right: 37px; // pp

    &--feedback {
      font-size: 20px;

      width: 283px;
      height: 52px;

      margin: 0;
    }
  }

}









// desktops
@media screen and (min-width: $desktop-width) {

  .button {
    &--goods {
      width: 245px;
      height: 40px;

      margin: 0;
    }

    &--feedback {
      width: 568px;
    }
  }

}