.cat-profile {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;

  border: none;
}

.cat-profile__list {
  padding: 0;
  margin-bottom: 8px; // pp
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 7px;

  list-style: none;

  min-width: 280px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  min-height: 190px;
}

.cat-profile__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 12px; // pp
  margin-bottom: 3px; // pp

  font-size: 16px;
}

.cat-profile__label {
  text-transform: uppercase;
  color: $form-text-label;
}

.cat-profile__input {
  appearance: none;  // iOS
  border-radius: 0;  // iOS
  outline: none;  // iOS

  flex-grow: 1;

  min-height: 30px;
  height: 100%;

  padding: 6px;
  padding-left: 14px; // pp
  margin-left: 15px;

  text-transform: uppercase;

  border: 1px solid $form-border;

  &:hover {
    border-color: $form-border-hover;
  }

  &:focus {
    border: 2px solid $form-border-focus;
    outline: none;

    margin-top: -1px;
    margin-bottom: -1px;

    transform: translateX(-1px);
  }

  // without placeholder data for "required" fields only
  &:not(:focus):required:invalid:not(:placeholder-shown) {
    border: 2px solid $form-invalid;

    margin-top: -1px;
    margin-bottom: -1px;

    color: $form-invalid;
  }

  @include placeholder {
    color: $form-text-placeholder;
  }
}







//      tablets
@media screen and (min-width: $tablet-width) {

  .cat-profile {
    width: 630px;
  }

  .cat-profile__list {
    padding: 0;
    margin: 0;
    margin-top: 29px;

    min-height: 190px;
  }

  .cat-profile__item {
    margin-bottom: 8px; // pp

    font-size: 20px;
  }

  .cat-profile__input {
    padding: 10px;
    padding-left: 18px; // pp
    margin-left: 20px; // pp
  }
}






//      desktops
@media screen and (min-width: $desktop-width) {
  .cat-profile {
    width: 570px;
  }

  .cat-profile__list {
    margin-top: 0px;
  }

}