
//desktops
@media screen and (min-width: $desktop-width) {

  .catalog-page .page-header {

    &::after {
      // background: none;
      content: unset;
    }

  }

  .catalog-page .main-nav__item a {
    color: $font-dark;
  }

  .catalog-page .main-nav__item--active a {
    border-bottom: 2px solid $bg-others;
  }

  .catalog-page .address {
    background-color: $bg-primary;
  }

}