.contacts {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
  margin-top: 30px;

  border: none;

  // greenline position
  &::before {
    transform: translateY(-35px);
  }
}

.contacts__headline {
  font-size: 24px;
  line-height: 24px;

  max-width: 221px; // pp

  padding-left: 20px;
  padding-right: 20px;

  color: $form-text-headline;
}

.contacts__list {
  padding: 0;
  margin-bottom: 8px; // pp
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 22px;

  list-style: none;

  min-width: 280px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  min-height: 130px;
}

.contacts__item {
  font-size: 16px;
  margin-top: 12px; // pp
  margin-bottom: 3px; // pp
}

.contacts__label {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  text-transform: uppercase;

  position: relative;

  color: $form-text-label;

  & input:hover {
    border-color: $form-border-hover;
  }

  & input:focus {
    border: 2px solid $form-border-focus;
    outline: none;

    margin-top: -1px;
    margin-bottom: -1px;

    transform: translateX(-1px);
  }

  // without placeholder data for "required" fields only
  & input:not(:focus):required:invalid:not(:placeholder-shown) {
    border: 2px solid $form-invalid;

    margin-top: -1px;
    margin-bottom: -1px;

    color: $form-invalid;

    // restrictive color
    & + svg {
      fill: $form-invalid;
    }
  }

  // valid data entered
  & input:focus:valid + svg,
    input:not(:focus):valid + svg {
    fill: $form-icon-valid;
  }
}

.contacts__label span {
  min-width: 50px;
}

.contacts__label--email .contacts__icon {
  right: 16px;
}

.contacts__label--phone .contacts__icon {
  right: 13px;
}

.contacts__icon {
  position: absolute;

  fill: $form-icon;
}

.contacts__input {
  appearance: none;  // iOS
  border-radius: 0;  // iOS
  outline: none;  // iOS

  flex-grow: 1;

  height: 30px;

  padding: 6px;
  padding-left: 14px; // pp
  padding-right: 45px;
  margin-left: 10px; // pp

  text-transform: uppercase;

  border: 1px solid $form-border;

  @include placeholder {
    color: $form-text-placeholder;
  }
}






//      tablets
@media screen and (min-width: $tablet-width) {

  .contacts {
    margin-top: 74px;
    align-items: center;

    // greenline position
    &::before {
      transform: translateY(-14px);
    }
  }

  .contacts__headline {
    font-size: 36px;
    line-height: 36px;

    max-width: 688px; // pp

    padding-left: 40px;
    padding-right: 40px;
    margin-left: 30px;
  }

  .contacts__list {
    align-items: center;

    margin-top: 64px;
  }

  .contacts__item {
    font-size: 20px;
    line-height: 20px;

    margin-bottom: 8px;

    width: 635px;
  }

  .contacts__label {
    &::after {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }


  .contacts__label span {
    min-width: 70px;
  }

  .contacts__label--email span{
    margin-right: -5px; // pp
  }

  .contacts__label--email .contacts__icon {
    right: 20px;
  }

  .contacts__label--phone .contacts__icon {
    right: 17px;
  }

  .contacts__input {
    padding: 10px;
    padding-left: 20px; // pp
    padding-right: 45px;
    margin-left: 17px; // pp
  }

}






//      desktops
@media screen and (min-width: $desktop-width) {

  .contacts {
    margin-top: 55px;

    // greenline position
    &::before {
      transform: translateY(-13px);
    }
  }

  .contacts__headline {
    margin: 0 auto;

    max-width: 1385px;
    width: 100%;
  }

  .contacts__headline span {
    padding: 0 40px;
  }

  .contacts__list {
    flex-direction: row;
    justify-content: space-between;

    max-width: 1220px;
    width: 100%;

    margin: 0 auto;
    margin-top: 36px;
  }

  .contacts__item {
    width: 570px;
  }

}