.copyright {
  display: flex;
}

.copyright__link {
  color: $font;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover .copyright__logo {
    fill: $copyright-hover;
  }

  &:focus {
    opacity: 0.3;

    & .copyright__logo {
      fill: $copyright-focus;
    }
  }
}

.copyright__logo {
  width: 27px;
  height: 35px;

  fill: $copyright;

  transition: fill 0.3s;
}



//      tablets
@media screen and (min-width: $tablet-width) {

  .copyright__link {
    transform: translateX(-13px); // pp

    &:focus {
      outline: none;
    }
  }

  .copyright__logo {
    transform: translateX(3px); // pp
  }
}