.goods {
  width: 100%;

  &::before {
    transform: translateY(21px);
  }
}

.goods__table {
  width: 100%; // для iOS

  text-align: left;
  padding: 0;

  font-size: 14px;
  line-height: 14px;

  margin-bottom: 10px;
}

.goods__list,
.goods__price,
.goods__param {
  padding: 0;
  margin: 0;
}

.goods__item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 20px;
  margin-right: 20px;

  padding-bottom: 18px; // pp

  border-bottom: 1px solid $goods-border;

  &:first-child {
    border-top: 1px solid $goods-border;
  }
}

.goods__caption {
  font-family: $font-family;
  font-size: 16px;
  line-height: 20px;

  margin-top: 11px; // pp
  margin-bottom: 11px; // pp

  color: $goods-caption-text;

  text-align: left;
  text-transform: uppercase;
}

.goods__heading {
  font-size: 24px;
  line-height: 24px;

  width: 247px; // pp

  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 0; // необходимо для соответствия макету

  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 34px;

  background-color: #ffffff;
}

.goods__price {
  text-align: right;
}







//      tablets
@media screen and (min-width: $tablet-width) {

  .goods {
    &::before {
      transform: translateY(32px);
    }
  }

  .goods__heading {
    font-size: 36px;
    line-height: 36px;

    width: 374px;

    margin-left: 27px;
    margin-bottom: 39px; // pp

    padding-left: 40px;
  }

  .goods__list {
    padding: 10px;

    max-width: $tablet-width;
    margin: 0 auto;
  }

  .goods__item {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -1px;

    height: 120px;

    padding-bottom: 18px; // pp

    border: 1px solid $goods-border;
  }

  .goods__table {
    font-size: 16px;
    line-height: 20px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 15px; // pp
    margin-bottom: 15px; // pp
  }

  .goods__caption {
    font-size: 20px;
    line-height: 20px;

    margin-top: 5px; // pp
    margin-bottom: 11px; // pp
    margin-left: 38px; // pp
  }

  .goods__table-row {
    min-width: 263px; // pp
    display: flex;
    justify-content: flex-end;

    margin-top: 9px; // pp
    margin-right: 39px; // pp
  }

  .goods__price {
    min-width: 42px; // pp
    padding-left: 50px;
  }

}







//      desktops
@media screen and (min-width: $desktop-width) {

  .goods {
    margin-top: 60px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
  }

  .goods__heading {
    width: 374px;

    margin-left: -40px;
    margin-top: 0;
    margin-bottom: 40px; // pp

    padding-left: 40px;
  }

  .goods__list {
    width: 895px;

    max-width: 100%;

    padding: 0;

    margin: 0;
    margin-top: -1px; // pp
  }

  .goods__item {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    border: none;
    border-bottom: 1px solid $goods-border;

    height: 71px;

    margin: 0;
    padding: 0;
  }

  .goods__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    margin: 0 auto;

    height: 426px; // pp

    padding-right: 110px;
    padding-left: 110px;

    max-width: 1240px;
  }

  .goods__table {
    width: 650px;
  }

  .goods__caption {
    min-width: 320px;

    margin-left: 0;
  }

  .goods__param {
    text-align: left;
    min-width: 195px;
  }

  .goods__price {
    text-align: left;
  }

}