.intro {
  max-width: 425px;
  margin: 0 auto;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  color: $font-light;
  background: url(../img/index-bg-mobile.jpg) no-repeat 50% 0%;
  background-size: contain;
}

.intro__headline {
  color: $font-light;
  font-family: $font-family;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  font-style: normal;

  margin-top: 27px;

  max-width: 320px;
}

.intro__call {
  font-family: $font-family;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

.intro__product {
  margin-top: 30px;
  margin-bottom: -2px;
}

.intro__link {
  color: $font-light;
  font-family: $font-family;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;

  display: block;

  background: $intro-button;

  min-width: 260px;
  max-width: 425px;
  min-height: 20px;
  padding: 10px;
}

// retina mobile
@media screen and (max-width: 767px) and (min-resolution: 1.5dppx) {
  .intro__wrapper {
    background: url(../img/index-bg-mobile@2x.jpg) no-repeat 50% 0%;
    background-size: contain;
  }
}

//       tablet
@media screen and (min-width: $tablet-width) {
  .intro {
    max-width: 768px;
    min-height: 806px;
  }

  .intro__wrapper {
    align-items: flex-start;
    position: relative;

    padding-left: 120px;
    padding-right: 30px;

    min-width: 590px;
    min-height: 806px;

    background: none;

    color: $font-dark;
  }

  .intro__headline {
    color: $font-dark;
    text-align: left;
    max-width: 440px;

    font-size: 60px;
    line-height: 60px;

    margin-left: -3px; //pp

    order: -1;
  }

  .intro__call {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    margin-left: -1px;

    order: -1;
  }

  .intro__product {
    position: absolute;
    top: 197px;
    left: 30px;

    max-width: 709px;
    max-height: 609px;

    z-index: -1;
  }

  .intro__link {
    font-size: 20px;
    line-height: 20px;

    margin-top: 48px;
    padding-top: 15px; // pp
    padding-left: 7px; // pp
    padding-right: 11px; // pp
    padding-bottom: 10px; // pp

    text-align: center;

    min-width: 225px;
    min-height: 27px;

    order: -1;

    // состояния аналогичные button
    &:hover {
      transition: background-color 0.3s ease;
      background-color: $intro-button-hover;
    }

    &:focus {
      outline: none;

      background-color: $intro-button-focus;
      color: $intro-button-text-focus;
    }
  }
}

//      desktop
@media screen and (min-width: $desktop-width) {
  .intro {
    max-width: 100%;
    min-height: 0px;
  }

  .intro__wrapper {
    align-items: flex-start;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
    margin: 0 auto;

    min-width: 590px;
    max-width: 1060px;
    min-height: 580px;
  }

  .intro__headline {
    margin-left: 0; //pp
  }

  .intro__call {
    margin-left: 0; //pp
  }

  .intro__product {
    top: -25px;
    left: 370px;

    max-width: 552px;
    max-height: 499px;

    z-index: -1;
  }

  .intro__link {
    margin-top: 52px; // pp
    padding-top: 15px; // pp
    padding-left: 7px; // pp
    padding-right: 11px; // pp
    padding-bottom: 9px; // pp

    min-width: 228px; // pp
    min-height: 30px; // pp
  }
}
