.main-nav {
  width: 100%;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.main-nav__item {
  list-style-type: none;
}

.main-nav__item a {
  font-family: $font-family-medium;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;

  display: block;

  text-decoration: none;
  color: $font-dark;

  min-height: 43px;
  width: 100%;

  margin: 0 auto;

  text-align: center;
  padding-top: 23px;

  transition: color 0.3s;

  &:hover {
    color: $nav-text-hover;
  }

  &:focus {
    color: $nav-text-focus;
    outline: none;
  }

}



//      mobile width only
@media screen and (max-width: 767px) {

  .main-nav__item {
    border-bottom: 1px solid $nav-border-mob;
  }

}



//      tablet
@media screen and (min-width: $tablet-width) {

  .main-nav {
    width: 440px;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__item a {
    font-family: $font-family;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    padding-top: 13px;
    min-height: 33px;
  }


  .main-nav__item {
    &--active a {
      border-bottom: 2px solid $nav-border-active;
    }
  }

}






//      desktop
@media screen and (min-width: $desktop-width) {

  .main-nav {
    width: 480px;
  }

  .main-nav__item a {
    font-size: 20px;
    line-height: 24px;

    color: $nav-text-with-bg;
  }

  .main-nav__item {
    &--active a {
      border-bottom: 2px solid $nav-border-with-bg;
    }
  }

}