.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.page-header__logo {
  width: 33px;
  height: 38px;
  margin-left: 20px;
  margin-bottom: 4px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

.page-header__logo-mobile {
  width: 101px;
  height: 18px;
  margin-left: -8px;
}

.page-header__wrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  min-height: 65px;

  border-bottom: 1px solid #e6e6e6;
}

.page-header__nav-mobile {
  border: none;

  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;

  width: 25px;
  height: 20px;

  margin-right: 20px;
  margin-bottom: 2px; //pp

  cursor: pointer;
}


// mobile width only
@media screen and (max-width: 767px) {

  .page-header__nav-mobile--opened .page-header__nav-mobile {
    background-image: url(../img/nav-opened.svg);
  }

  .page-header__nav-mobile--closed .page-header__nav-mobile {
    background-image: url(../img/nav-closed.svg);
  }

  .page-header__nav-mobile--opened .main__nav {
    display: block;
  }

  .page-header__nav-mobile--closed .main-nav {
    display: none;
  }

}








//      tablet
@media screen and (min-width: $tablet-width) {

  .page-header {
    flex-direction: row;
    justify-content: space-between;

    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 28px;

    max-width: 1092px; // резиновый вариант на три ряда
  }

  .page-header__logo {
    width: 173px;
    height: 58px;

    margin: 0;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__wrapper {
    display: flex;

    justify-content: space-around;
    align-items: center;
    align-self: stretch;

    min-height: 66px;

    border: none;
  }

  .page-header__nav-mobile {
    display: none;
  }

}









//      desktop
@media screen and (min-width: $desktop-width) {

  .page-header {
    max-width: 1220px;

    padding-top: 50px; // pp
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;

    margin: 0 auto;

    &::after {
      content: "";
      display: block;

      width: 50%;
      height: 696px;

      background-color: #65a93c; // color fallback
      background-image: url(../img/index-bg-desktop.jpg);
      background-repeat: no-repeat;
      background-position: 100% 0;

      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
    }

  }

  .page-header__logo {
    width: 202px;
    height: 59px;
  }

}

@media screen and (min-width: $desktop-width) and (min-resolution: 1.5dppx) {

  .page-header {
    &::after {
      background-image: url(../img/index-bg-desktop@2x.jpg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

}