.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--main {
    border: 1px solid #e6e6e6;
    border-top: none;
  }
}

.product-card__description {
  display: flex;
  justify-content: center;

  height: 143px;
}

.product-card__image {
  width: 140px;
}

.product-card__plus {
  margin-top: 25px; // pp
  align-self: center;
  width: 30px;

  opacity: 0.2;
}

.product-card__more {
  font-size: 12px;
  line-height: 16px;

  min-height: 60px;
  width: 80%;
  align-self: center;

  text-align: center;
}

.product-card__more strong {
  display: block;

  font-family: $font-family;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;

  text-transform: uppercase;

  margin-top: 7px; // pp
  margin-bottom: 7px; // pp
}








// tablets
@media screen and (min-width: $tablet-width) {

  .product-card {

    &--main {
      width: 324px;
      height: 432px;
      justify-content: flex-start;

      background-color: #f2f2f2;

      border: none;

      margin-top: 135px; // pp
      margin-bottom: 4px; // pp
      margin-left: 30px; // pp
      margin-right: 30px; // pp
    }

    &--last {
      background: transparent;

      border: 1px solid #f2f2f2;
      box-sizing: border-box;
    }
  }

  .product-card__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: auto; // сброc
    position: relative;

    margin-bottom: 35px; // pp
  }

  .product-card__image {
    width: initial;

    position: absolute;
    bottom: 190px; // pp
    left: 165px;

    transform: translate(-50%, 0);

    &--500g {
      max-width: 161px;
    }

    &--1000g {
      max-width: 195px;
    }
  }

  .product-card__data {
    margin-top: 152px;
  }

  .product-card__plus {
    width: 60px;
    height: 60px;

    margin-top: 57px;
    margin-left: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.2;
  }

  .product-card__more {
    font-size: 16px;
    line-height: 20px;

    width: 180px;

    margin-bottom: 83px;
  }

  .product-card__more strong {
    display: block;

    font-size: 20px;
    line-height: 20px;

    width: 170px;

    padding-left: 3px; // pp
    margin: 0 auto;
    margin-top: 31px; // pp
    margin-bottom: 25px; // pp
  }

}








// dektops
@media screen and (min-width: $desktop-width) {

  .product-card {
    &--main {
      width: 245px;
      height: 432px;
      justify-content: flex-start;

      background-color: #f2f2f2;

      border: none;

      margin-top: 136px; // pp
      margin-bottom: 5px; // pp
      margin-left: 0;
      margin-right: 80px;
    }

    &--last {
      background: transparent;

      border: 1px solid #f2f2f2;
      box-sizing: border-box;
    }
  }

  .product-card__data {
    margin-top: 152px;
  }

  .product-card__image {
    left: 51%;
  }

}