.program-choice {
  display: flex;
  flex-direction: column;

  padding: 0;
  padding-top: 25px;
  margin: 0;

  min-height: 130px;

  border: none;
  border-top: 1px solid $form-border;
  border-bottom: 1px solid $form-border;
}

.program-choice__list {
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;

  list-style: none;

  min-width: 280px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.program-choice__item {
  text-transform: uppercase;
  font-size: 16px;

  margin-bottom: 25px;

  position: relative;
}

.program-choice__label {
  display: flex;
  align-items: center;

  margin-left: 45px;

  color: $form-text-label;

  cursor: pointer;

  &::before {
    content: "";
    display: block;

    width: 30px;
    height: 30px;

    position: absolute;
    left: -1px;
    top: -6px;

    border: 1px solid $form-border;
    border-radius: 50%;
  }

  &:hover::before {
    border-color: $form-border-hover;
  }
}

.program-choice__input {

  &:checked + .program-choice__label::after {
    content: "";
    display: block;

    width: 12px;
    height: 12px;

    background-color: $bg-others;
    border-radius: 50%;

    position: absolute;
    left: 9px;
    top: 4px;
  }

  &:focus + .program-choice__label {
    color: #b9b9b9;

    &::after {
      opacity: .3;
    }

    &::before {
      border-color: #ebebeb;
    }
  }
}





//      tablets
@media screen and (min-width: $tablet-width) {

  .program-choice {
    width: 630px;
    height: 196px;

    margin-top: 65px;

    box-sizing: border-box;
    border: 1px solid $form-border;
  }

  .program-choice__list {
    margin-top: 8px;
  }

  .program-choice__item {
    font-size: 20px;

    margin-bottom: 35px;
  }

  .program-choice__label {
    margin-left: 68px;

    &::before {
      width: 40px;
      height: 40px;

      left: 8px;
      top: -11px;
    }
  }

  .program-choice__input:checked+.program-choice__label::after {
    width: 18px;
    height: 18px;

    left: 20px;
    top: 1px;
  }

}






//      desktops
@media screen and (min-width: $desktop-width) {

  .program-choice {
    width: 570px;

    margin-top: 13px;
    margin-bottom: 13px;
  }

}