.program-wrapper {
  display: flex;
  flex-direction: column;

  max-width: 425px;

  margin: 0 auto;
  margin-top: 2px; // pp
}

.program {
  display: flex;
  flex-direction: column;
  position: relative;

  padding: 20px;
  padding-bottom: 8px;
  margin: 20px;
  margin-bottom: 0;

  background-color: $bg-secondary;

  &--loss::after,
  &--gain::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 22px;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $bg-others;
    z-index: 1;
  }

  &--loss::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 30px;

    width: 35px;
    height: 49px;
    background: url(../img/cat_1.svg) no-repeat 50% 50%;
    z-index: 2;
  }

  &--gain::before {
    content: "";
    position: absolute;
    top: 37px;
    left: 13px;

    width: 67px;
    height: 28px;
    background: url(../img/cat_2.svg) no-repeat 50% 50%;
    z-index: 2;
  }
}

.program__name {
  font-family: $font-family;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: $font-dark;

  text-align: left;
  margin-top: 12px;
  margin-left: 71px;
}

.program__link {
  color: $font-dark;
  font-family: $font-family;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;

  position: relative;

  width: 125px;

  padding: 12px 0;
  margin-top: 8px;

  cursor: pointer;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 11px;

    position: absolute;
    left: 96px;
    top: 14px;
    transition: all 0.3s;

    background: url(../img/icon-arrow.svg) no-repeat 50% 50%;
  }

  &:hover {
    outline: transparent;

    &::after {
      width: 33px;
      transform: scaleX(1.375) translateX(1px);
    }
  }

  &:focus {
    color: #b7b7b7;
    outline: transparent;

    &::after {
      width: 33px;
      transform: scaleX(1.375) translateX(1px);
      opacity: 0.3;
    }
  }

}

.program__text {
  display: block;
  max-width: 300px;

  margin-top: 5px;
  margin-bottom: 20px;
}





//      tablet
@media screen and (min-width: $tablet-width) {

  .program {
    padding: 51px; //pp
    padding-left: 52px; // pp
    padding-bottom: 30px; // pp
    min-height: 290px;

    margin-top: 30px;

    &--loss::after,
    &--gain::after {
      top: 91px;
      left: 447px;

      width: 200px;
      height: 200px;
    }

    &--loss::before {
      top: 80px;
      left: 477px;

      width: 140px;
      height: 194px;
    }

    &--gain::before {
      top: 135px;
      left: 412px;

      width: 268px;
      height: 112px;
    }

  }

  .program-wrapper {
    max-width: 748px;
  }

  .program__name {
    font-size: 36px;
    line-height: 36px;

    margin-left: 1px; // pp
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .program__text {
    font-size: 16px;
    line-height: 24px;

    margin-top: 6px;

    max-width: 370px;
  }

  .program--loss .program__text {
    max-width: 375px;
  }

  .program--gain .program__text {
    max-width: 344px;
  }



  .program__link {
    font-size: 20px;
    line-height: 20px;

    margin-top: 23px;

    width: 180px;

    &::after {
      left: 131px;
      top: 16px;
    }
  }

  // поправка на pp и кривой макет
  .program--gain .program__link::after {
    left: 126px;
  }

  .program .divider {
    display: none;
  }

}



//      desktop
@media screen and (min-width: $desktop-width) {

  .program-wrapper {
    margin: 0 auto;

    max-width: 1220px;

    flex-direction: row;
    justify-content: space-between;
  }

  .program {
    width: 467px;
    height: 295px;

    margin: 0;
    padding-top: 77px;
    padding-left: 52px; // pp
    padding-bottom: 0px; // pp

    &--loss::after,
    &--gain::after {
      top: 47px;
      left: 52px;

      width: 100px;
      height: 100px;
    }

    &--loss::before {
      top: 41px;
      left: 66px;

      width: 70px;
      height: 97px;
    }

    &--gain::before {
      top: 69px;
      left: 34px;

      width: 134px;
      height: 56px;
    }

  }

  .program__name {
    text-align: left;

    margin-left: 160px; // pp
    margin-top: 0px; // pp
    margin-bottom: 70px;
  }

  .program__text {
    max-width: 100%;

    margin: 0;
    margin-top: 4px; // pp
  }

  .program--loss .program__text {
    max-width: 100%;
  }

  .program--gain .program__text {
    max-width: 100%;
  }

  .program__link {
    margin-top: 20px; // pp
  }

}