.slider {
  padding-bottom: 20px;

  // button state --before
  &--before .slider__button::after {
    transform: translateX(0%);
  }

  // button state --after
  &--after .slider__button::after {
    transform: translateX(100%);
  }
}

.slider--tab-desktop {
  display: none;
}

.slider__container {
  position: relative;

  min-height: 240px;
  width: 320px;

  margin: 0 auto;
}

.slider__cat-before {
  background-color: $bg-secondary;

  width: 100%;
  min-height: 240px;

  position: absolute;

  background: $bg-secondary url(../img/cat-before-mobile.png) no-repeat;
  background-position: 2px 8px;
  background-size: 310px auto;

  transition: opacity 0.5s;
}

.slider__cat-after {
  background-color: $bg-secondary;

  width: 100%;
  min-height: 240px;

  position: absolute;

  background: $bg-secondary url(../img/cat-after-mobile.png) no-repeat;
  background-position: 2px 8px;
  background-size: 310px auto;

  opacity: 0;
  transition: opacity 0.5s;
}

.slider__controls {
  color: $font-dark;
  font-family: $font-family;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 5px; // pp

  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 6px;
}

.slider__label {
  border: none;
  background-color: transparent;

  height: 40px;

  // outline: none;

  text-transform: uppercase;
}

.slider__button {
  background-color: $bg-primary;
  border: 1px solid $slider-button-border;

  min-width: 84px;
  height: 14px;

  // outline: none;

  padding: 0; // safari
  padding-left: 5px;
  padding-right: 5px;

  margin-left: 12px;
  margin-right: 12px;

  border-radius: 7px;

  cursor: pointer;

  &::after {
    content: "";
    display: block;

    width: 35px;
    height: 6px;

    border-radius: 3px;
    background-color: $bg-others;

    transition: all 0.3s;
  }
}

// retina mobile
@media screen and (max-width: 767px) and (min-resolution: 1.5dppx) {

  .slider__cat-before {
    background: $bg-secondary url(../img/cat-before-mobile@2x.png) no-repeat;
    background-position: 2px 8px;
    background-size: 310px auto;
  }

  .slider__cat-after {
    background: $bg-secondary url(../img/cat-after-mobile@2x.png) no-repeat;
    background-position: 2px 8px;
    background-size: 310px auto;
  }

}








//      tablets
@media screen and (min-width: $tablet-width) {

  .slider {
    position: relative;
    height: 631px;

    margin-top: 35px;
    padding-bottom: 0;

    background: $slider-background-gradient;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 170px;

    &--tab-desktop {
      display: block;
    }

    &--mob {
      display: none;
    }
  }

  .slider__container {
    position: relative;

    width: 768px;
    height: 631px;

    margin: 0 auto;
  }

  .slider__cat-before {
    width: 384px;
    height: 631px;

    position: absolute;
    z-index: 2;

    background: url(../img/cat-before.png) no-repeat, $slider-before-background;
    background-position: 46px 0, 0 0; // pp
    background-size: initial;
  }

  .slider__cat-after {
    width: 768px;
    height: 631px;

    position: absolute;
    z-index: 1;

    background: url(../img/cat-after.png) no-repeat, $slider-after-background;
    background-position: 46px 0, 0 0; // pp
    background-size: initial;

    opacity: 1;
  }

  .slider__controls {
    font-size: 20px;
    line-height: 20px;

    display: flex;
    justify-content: center;

    width: 708px;

    margin: 0;
    padding: 0;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 64px;
    z-index: 10;
  }

  .slider__label {
    display: inline-block;
    min-width: 50px;

    margin-left: 21px; // pp
    margin-right: 24px; // pp

    padding: 0;

    box-sizing: content-box;

    position: relative;

    &::after {
      content: "";
      display: block;

      width: 50px;
      height: 1px;

      position: absolute;
      top: 34px;

      border-bottom: 1px dotted $slider-label;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;

      &::after {
        border-bottom: 1px solid $slider-label-hover;
      }
    }

    &:focus::after {

      border-bottom: none;
    }
  }



  .slider__controls input[type=range] {
    -webkit-appearance: none;
    width: 425px;
    background-color: transparent; // для moz

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 6px;

      cursor: pointer;

      background: $slider-bar;

      border-radius: 2px;
    }

    &::-webkit-slider-thumb {
      width: 34px;
      height: 34px;

      border: 13px solid $slider-thumb-color;
      border-radius: 50%;
      background: $bg-others;
      box-shadow: 0 0 0 1px $slider-thumb-border,
        0 2px 5px rgba(0, 0, 0, 0.15);

      cursor: pointer;

      -webkit-appearance: none;
      margin-top: -14px;
    }

    // effects
    &:hover::-webkit-slider-thumb {
      box-shadow: 0 0 0 1px $slider-thumb-border,
        0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:focus::-webkit-slider-thumb {
      box-shadow: 0 0 0 2px $bg-others,
        0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }

    &::-moz-range-track {
      width: 100%;
      height: 6px;

      cursor: pointer;

      background: $slider-bar;

      border-radius: 2px;
    }

    &::-moz-range-thumb {
      width: 8px;
      height: 8px;

      border: 13px solid $slider-thumb-color;
      border-radius: 50%;
      background: $bg-others;

      box-shadow: 0 0 0 1px $slider-thumb-border,
        0 2px 5px rgba(0, 0, 0, 0.15);

      cursor: pointer;
    }

    // effects
    &:hover::-moz-range-thumb {
      box-shadow: 0 0 0 1px $slider-thumb-border,
        0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:focus::-moz-range-thumb {
      box-shadow: 0 0 0 2px $bg-others,
        0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }

    &::-ms-track {
      width: 100%;
      height: 6px;

      background: transparent;

      border-width: 16px 0;
      border-color: transparent;

      cursor: pointer;

      color: transparent;
    }

    &::-ms-fill-lower {
      background: $slider-bar;
      border-radius: 2px;
    }

    &::-ms-fill-upper {
      background: $slider-bar;
      border-radius: 2px;
    }

    &::-ms-thumb {
      width: 8px;
      height: 8px;

      margin-top: 0px;

      border: 13px solid $slider-thumb-color;
      border-radius: 50%;

      background: $bg-others;

      box-shadow: 0 0 0 1px $slider-thumb-border,
        0 2px 5px rgba(0, 0, 0, 0.15);

      cursor: pointer;
    }

    // effects
    &:hover::-ms-thumb {
      box-shadow: 0 0 0 1px $slider-thumb-border,
        0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:focus::-ms-thumb {
      box-shadow: 0 0 0 2px $bg-others,
        0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }

}

// retina tablets
@media screen and (min-width: $tablet-width) and (min-resolution: 1.5dppx) {

  .slider__cat-before {
    background: url(../img/cat-before@2x.png) no-repeat, $slider-before-background;
    background-position: 39px 7px, 0 0; // pp
    background-size: 690px 517px, contain;
  }

  .slider__cat-after {
    background: url(../img/cat-after@2x.png) no-repeat, $slider-after-background;
    background-position: 63px 0, 0 0; // pp
    background-size: 690px 517px, contain;
  }

}









//      desktop
@media screen and (min-width: $desktop-width) {

  .slider {
    height: 645px;
    max-width: 768px;
    width: 768px;

    margin-top: -10px;

    background: $slider-background-gradient;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 170px;
  }

  .slider__container {
    height: 645px;
  }

  .slider__cat-before {
    height: 650px;
    background: url(../img/cat-before.png) no-repeat, linear-gradient(to bottom, #ffffff 29.3%, #f2f2f2 29.3%);
    background-position: 20px -2px, 0 0; // pp
  }

  .slider__cat-after {
    height: 650px;
    background: url(../img/cat-after.png) no-repeat, linear-gradient(to bottom, #ffffff 29.3%, #eaeaea 29.3%);
    background-position: 20px -2px, 0 0; // pp
  }

  .slider__controls {
    bottom: 59px;
  }

}

// retina desktops
@media screen and (min-width: $desktop-width) and (min-resolution: 1.5dppx) {

  .slider__cat-before {
    height: 650px;
    background: url(../img/cat-before@2x.png) no-repeat, linear-gradient(to bottom, #ffffff 29.3%, #f2f2f2 29.3%);
    background-position: 12px 7px, 0 0; // pp
    background-size: 690px 517px, contain;
  }

  .slider__cat-after {
    height: 650px;
    background: url(../img/cat-after@2x.png) no-repeat, linear-gradient(to bottom, #ffffff 29.3%, #eaeaea 29.3%);
    background-position: 37px -2px, 0 0; // pp
    background-size: 690px 517px, contain;
  }

}